.card{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background:
        linear-gradient(rgba(137,23,0,0.6), rgba(57,0,0,0.6)),
        url("./imgs/fondo.png") center/cover no-repeat;
    color:#fff;
}

.logo img{
    height:50px;
}

/* ICONOS ANIMADOS */
.social-icons a{
    color: var(--color3);
    margin-left:15px;
    font-size:22px;
    text-decoration:none;
    opacity:0;
    animation:iconEnter 0.8s ease forwards;
}

.social-icons a:nth-child(1){ animation-delay:0.2s; }
.social-icons a:nth-child(2){ animation-delay:0.4s; }
.social-icons a:nth-child(3){ animation-delay:0.6s; }

.social-icons a:hover{
    color: var(--color1);
    transform:scale(1.2);
}

/* Animación */
@keyframes iconEnter{
    0%{
        transform:translateY(-15px) scale(0.5);
        opacity:0;
    }
    60%{
        transform:translateY(5px) scale(1.1);
        opacity:1;
    }
    100%{
        transform:translateY(0) scale(1);
        opacity:1;
    }
}

/* ===== CUERPO ===== */
.content{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}
.content a {
    color: #fff;
    text-decoration: none;
}

.content h1{
    font-size:2.6rem;
    margin-bottom:15px;
    animation:fadeUp 1s ease;
    font-family: 'Anton', sans-serif;
}

.offer{
    background: var(--color0);
    padding:12px 25px;
    border-radius:10px;
    font-size:1.4rem;
    margin-bottom:15px;
    animation:fadeUp 1.2s ease;
}

.price{
    font-size:3rem;
    font-weight:bold;
    color: var(--color0);
    animation:fadeUp 1.4s ease;
}

/* Texto animado */
@keyframes fadeUp{
    from{
        transform:translateY(20px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

/* ===== PIE DE PÁGINA ===== */

.qr img{
    width:100px;
    border-radius:8px;
}

.info{
    max-width:65%;
    font-size:0.95rem;
}

.info p{
    margin-bottom:6px;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px){
    .content h1{ font-size:2rem; }
    .price{ font-size:2.2rem; }

    footer{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

    .info{ max-width:100%; }
}